@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    
    color: #373867;
    position: fixed;
    background-color: #FFFFFF;
    margin-top: -20px;
    margin-left: 20%;
    width: 80%;
    height: 80px;
}
.header h1 {
    float:left
}
#logoHeader {
    height: 50px;
    right: 15px;
    position:absolute;
    
}

.asideMenu {
    
    margin-top: -20px;
    width: 20%;
    background-color: #DCDADA;
    position: fixed;
    height: 110%;
    overflow: auto;
}

main {
    font-family: 'Roboto';
    width: 78%;
    margin-left: 22%;
}

#logoMenu {

    position: absolute;
    right: 10px;
}
.asideMenu div {
    
    width: 100%;
    height: 8%;
}
.asideMenu div p {
    float: left;
    padding-left: 20px;
    border-bottom: 2px #AACE9B solid;
    font-size: 30px;
   
}
.asideMenu ul {
    list-style: none;
    margin-top: 50px;
}
.asideMenu ul li {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    
}
.asideMenu ul li a {
    text-decoration: none;
    color: black;
    border-bottom: 2px #AACE9B solid;
   
}
#contact {
    margin-top: 30px;
    font-weight: 600;
    padding-left: 20px;
    
}
.infoContact {
    width: 90%;
    margin-left: 15px;
    color: #9A9999;
    
}
.infoContact a {
    text-decoration: none;
}
.mainSection h2 {
    padding-top: 90px;
    padding-bottom: 10px;
    border-bottom: 2px #AACE9B solid;
    font-size: 35px;
}

.mSubSection h3 {
    font-size: 25px;
}

.mSubSection p {
    width: 30%;
    float: left;
    padding-right: 150px;
    color: #958888;
}

.mSubSection img {
    width: 300px;
    padding-bottom: 15px;
}

.funcSection h4 {
    font-size: 25px;
    padding-top: 45px;
    border-top: 2px #AACE9B solid;
}

.funcBtns {
    justify-content: space-between;
}
