@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.correction{
    margin-left: 22%;
}

.header {
    color: #373867;
    position: fixed;
    background-color: #ffffff;
    margin-top: -30px;
    margin-left: 20%;
    width: 80%;
    height: 80px;
}
.header h1 {
    font-size: 35px;
    margin-top: 50px;
    float:left;
    margin-left: 20px;
}
#logoHeader {
    height: 50px;
    right: 15px;
    top: 35px;
    position:absolute;
    
}

.asideMenu {
    
    margin-top: -30px;
    width: 20%;
    background-color: #DCDADA;
    position: fixed;
    height: 110%;
    overflow: auto;
}

main {
    font-family: 'Roboto';
    width: 78%;
    margin-left: 22%;
}

#logoMenu {

    position: absolute;
    right: 10px;
}
.asideMenu div { 
    width: 100%;
    height: 9%;
}
.asideMenu div p {
    float: left;
    padding-left: 20px;
    border-bottom: 2px #AACE9B solid;
    font-size: 30px;
    margin-top: 35px;
}
.asideMenu ul {
    list-style: none;
    margin-top: 50px;
    margin-left: 25px;
}
.asideMenu ul li {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    
}
.asideMenu ul li a {
    text-decoration: none;
    color: black;
    border-bottom: 2px #AACE9B solid;
   
}
#contact {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    padding-left: 20px;
    
}
.infoContact {
    width: 90%;
    margin-left: 15px;
    color: #9A9999;
    margin-bottom: 35px;
}
.infoContact a {
    text-decoration: none;
    
}
.mainSection h2 {
    padding-top: 90px;
    padding-bottom: 25px;
    border-bottom: 2px #AACE9B solid;
    font-size: 35px;
}

.mSubSection h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 500;
}

.mSubSection p {
    width: 30%;
    float: left;
    font-size: 18px;
    padding-right: 150px;
    color: #958888;
}

.mSubSection img {
    margin-top: -50px;
    width: 300px;
    padding-bottom: 45px;
}

.funcSection h4 {
    font-size: 25px;
    padding-top: 45px;
    padding-bottom: 35px;
    border-top: 2px #AACE9B solid;
}

.funcBtns {
    width: 300px;
    height: 35px;
    color: #373867;
    text-align: left;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 600;
}

.funcCont {
    padding-left: 100px;
    padding-bottom: 60px;
}

.firstBtn {
    margin-right: 100px;
}

.funcBtns:hover {
    cursor: pointer;
}

.funcBtns:active {
    color: #AACE9B;
    background-color: #afafaf;  
}

.whyUse h4 {
    border-top: 2px #AACE9B solid;
    padding-top: 30px;
    font-size: 25px;
    padding-bottom: 35px;
    
}
.firstArt{
    float:left;
    width: 50%;
    
}

.firstArt h5{
    padding-bottom: 20px;
    font-size: 20px;
}

.firstArt p {
    padding-bottom: 20px;
    width: 80%;
    color: #958888;
}

#formTittle {
    font-size: 25px;
    padding-bottom: 45px;
}

.name input{
   width: 200px;
   height: 25px;
   margin-bottom: 50px;
   margin-left: 70px;
   border: 1px #373867 solid;
   border-radius: 5px;
   color: #373867;

}

.msg { 
    float: right;
    margin-top: -157px;
    margin-right: 200px;
    
}
.msg input{
    width: 250px;
    height: 100px;
    border: 1px #373867 solid;
    border-radius: 5px;
    color: #373867;
}
.radio ul li p {
    font-weight: 600;
    padding-bottom: 15px;
    
} 
.radio ul li input {
    margin-left: 105px;
}

.radioSend {
    float: right;
    padding-bottom: 100px;
    margin-right: 205px;
    margin-top: -80px;
}

.radioSend input {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: 1px #373867 solid;
}