<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix - Log in</title>
        <link rel="shortcut icon" href="../assets/Logo.png">
        <link rel="stylesheet" href="../Style/reset.css">
        <link rel="stylesheet" href="../Style/header.css">
        <link rel="stylesheet" href="../Style/employee-signup.css">
    </head>
    <body>
        <Header class="header">
            <h1>
                Trackgenix
            </h1>
            <img src="../assets/Logo.png" alt="" id="logoHeader">
        </Header>
        <main>
            <section class="signup-container">
                <h2>Sign Up</h2>
                <form id="login-form">
                    <div>
                    <input type="text" id="first-name" name="mail" class="input-text"placeholder="First Name">
                    <input type="text" id="last-name" name="mail" class="input-text"placeholder="Last Name">
                    <input type="text" id="dni" name="mail" class="input-text"placeholder="DNI">
                    <input type="date" id="fecha1" class="input-text" name="date">
                    <input type="text" id="tel" name="mail" class="input-text"placeholder="Telephone">
                    <input type="text" id="adress" name="mail" class="input-text"placeholder="Adress">
                    </div>
                    <div>
                    <input type="text" id="city" name="mail" class="input-text"placeholder="City">
                    <input type="text" id="postal-code" name="mail" class="input-text"placeholder="Postal Code">
                    <input type="text" id="email" name="mail" class="input-text"placeholder="Email">
                    <input type="password" id="password" class="input-text" placeholder="Password">
                    <input type="password" id="password-repeat" class="input-text" placeholder="Repeat password">
                    </div>
                </form>
                <div id="lower">
                    <input type="submit" id="buttonSubmit" class="submit-button" value="Login">
                </div>
            </section>
            <section class="error-submit" id="error-email">
               <h2>Error: Wrong Email</h2>
               <input type="button" value="Dismiss">
            </section>
            <section class="error-submit" id="error-fname">
                <h2>Error: Wrong first name</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-lname">
                <h2>Error: Wrong last name</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-dni">
                <h2>Error: Wrong DNI</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-tel">
                <h2>Error: Wrong telephone</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-adress">
                <h2>Error: Wrong adress</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-city">
                <h2>Error: Wrong city</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-postal">
                <h2>Error: Wrong postal code</h2>
                <input type="button" value="Dismiss">
             </section>
             <section class="error-submit" id="error-email">
                <h2>Error: Wrong email</h2>
                <input type="button" value="Dismiss">
             </section>
            <section class="error-submit" id="error-pass">
                <h2>Error: Wrong Password</h2>
                <input type="button" value="Dismiss">
            </section>
        </main>
        <script src="../javascript/employee-signup.js"></script> 
    </body>
</html>