<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix - Log in</title>
        <link rel="shortcut icon" href="/Semana-06/assets/Logo.png">
        <link rel="stylesheet" href="/Semana-06/Style/reset.css">
        <link rel="stylesheet" href="/Semana-06/Style/header.css">
        <link rel="stylesheet" href="/Semana-06/Style/log-in.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <Header class="header">
            <h1>
                Trackgenix
            </h1>
            <img src="/Semana-06/assets/Logo.png" alt="" id="logoHeader">
        </Header>
        <main>
            <section>
                <h2>Log In</h2>
                <form>
                    <input type="name" class="input-text" placeholder="Email">
                    <input type="password" class="input-text" placeholder="Password">
                    <div id="lower">
                        <span>
                            <input type="checkbox"><label class="check" for="checkbox">Remember me</label>
                        </span>
                        <input type="submit" class="submit-button" value="Login">
                    </div>
                </form>
            </section>
        </main> 
    </body>
</html>