#logoMenu {
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
}
.aside-menu {
    padding-left: 20px;
    margin-top: 60px;
    width: 25%;
    background-color: #DCDADA;
}
#search {
    padding-top: 10px;
    width: 90%;
    margin: auto;
}
.aside-menu input {
    width: 150px;
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.aside-menu h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 33px;
    font-weight: 600;
}
.asideMenu ul {
    
    list-style: none;
}
.aside-menu ul li {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 22px;
    border-bottom: 1px #AACE9B solid;
}
.aside-menu ul li a{
    padding-top: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.contact h5{
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px #AACE9B solid;
}
.contact p {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    color: #9A9999;
}
.mail {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px #AACE9B solid;
}
.mail a {
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}
.mail img {
    width: 25px;
}
.adress {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    border-bottom: 1px #AACE9B solid;
}
.adress img {
    width: 25px;
}
.adress a {
    width: 80%;
    font-size: 15px;
    flex-wrap: wrap;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}
#test{
    width: 100%;
}
.main-section h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px #AACE9B solid;
}
#trackgenix-p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.trackgenix-app h3
{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.trackgenix-app p {
    width: 340px;
    color: #958888;
}
.trackgenix-app img {
    margin: auto;
    margin-top: 15px;
    width: 200px;
}
.trackgenix-app {
    padding-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.functionalities-section {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.form-inputs {
    width: 80%;
    margin: auto;
}
.functionalities-section h4 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.functionalities-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.functionalities-buttons input {
    width: 300px;
    height: 45px;
    text-align: left;
    justify-content: center;
    color: #373867;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px #373867 solid;
}
.firstBtn {
    margin-bottom: 20px;
}
.why-use h4{
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.why-use h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}
.whyuse-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.whyuse-article {
    width: 330px;
}
.whyuse-article p {
    color: #958888;
}
.form-section {
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 5%;
    border-bottom: 2px #AACE9B solid;
}   
.form-section h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.text-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text-inputs span {
    width: 300px;
    margin: auto;
}
.msg {
    width: 300px;
    margin: auto;
}
.name input {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px #373867 solid;
    border-radius: 5px;
    color: #373867;
 }
 .msg input {
    width: 90%;
    height: 100px;
    border: 1px #373867 solid;
    border-radius: 5px;
    color: #373867;
}
.radio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.radio ul {
    width: 290px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.radio ul li:nth-child(1) {
    margin-bottom: 10px;
}
.radio-send {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 3%;
}
.radio-send input {
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: 1px #373867 solid;  
    margin-bottom: 10px;
}
.radio-send [type="submit"] {
    margin-right: 2px;
}
.about-us {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.about-us h3 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.about-us img {
    width: 300px;
}
.about-us p {
    width: 300px;
    color: #958888;
    font-size: 20px;
}
.about-us img {
    width: 300px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.hist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
.hist2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services {
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px #AACE9B solid;
}
.services h5 {
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.services-list{
    width: 180px;
}
.services-list ol li a{
    font-size: 18px;
    text-decoration: none;
    color: #958888;
}
.footer {
    text-align: center;
}
.social-media {
    margin-bottom: 15px;
}
#copyright {
    color: #958888;
}
#copyright h5 {
    margin-bottom: 10px;
}