
#logoMenu {
    width: 40px;
    margin-top: 5px;
}
.mainSection h2 {
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px #AACE9B solid;
}
#mainP{
    display: flex;
    flex-direction: row;
}
.mSubSection h3
{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.mSubSection p {
    width: 55%;
    color: #958888;
}
.mSubSection img {
    width: 45%;
}
.mSubSection {
    margin-left: 5%;
    border-bottom: 2px #AACE9B solid;
    padding-bottom: 15px;
}
.funcSection {
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.funcSection h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.funcCont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.funcCont input {
    width: 160px;
    height: 35px;
    text-align: left;
    justify-content: center;
    color: #373867;
    font-weight: 700;
    border-radius: 5px;
    border: 1px #373867 solid;
}
.firstBtn {
    margin-bottom: 5px;
}
.whyUse {
    margin-left: 5%;
}
.whyUse h4{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.whyUse h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}
.whyUseM {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.formSection {
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 5%;
    border-bottom: 2px #AACE9B solid;
}    
.firstArt {
    width: 180px;
}
.firstArt p {
    color: #958888;
}
.formSection h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.firstInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.name input {
    width: 130px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px #373867 solid;
    border-radius: 5px;
    color: #373867;
 }
 .msg input {
    width: 200px;
    height: 100px;
    border: 1px #373867 solid;
    border-radius: 5px;
    color: #373867;
}
.radio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.radio ul {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.radio ul li:nth-child(1) {
    margin-bottom: 10px;
}
.radioSend {
    width: 53%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.radioSend input {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 1px #373867 solid;  
    margin-bottom: 10px;
}
.radioSend:nth-child(1) {
    margin-bottom: 15px;
}
.aboutUs {
    margin-left: 5%;
    border-bottom: 2px #AACE9B solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.aboutUs h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.aboutUs img {
    width: 100px;
}
.aboutUs p {
    width: 45%;
    color: #958888;
    align-self: flex-end;
    font-size: 14px;
}
.aboutUs img {
    width: 48%;
    border-radius: 10px;
}
.hist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
}
.hist2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.footer {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}