
#logoMenu {
    width: 40px;
    margin-top: 5px;
}
.mainSection h2 {
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px #AACE9B solid;
}
#mainP{
    display: flex;
    flex-direction: row;
}
.mSubSection h3
{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.mSubSection p {
    width: 55%;
    color: #958888;
}
.mSubSection img {
    width: 45%;
}
.mSubSection {
    margin-left: 5%;
    border-bottom: 2px #AACE9B solid;
    padding-bottom: 15px;
}
.funcSection {
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.funcSection h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.funcCont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.funcCont input {
    width: 160px;
    height: 35px;
    text-align: left;
    justify-content: center;
    color: #373867;
    font-weight: 700;
    border-radius: 5px;
    border: 1px #373867 solid;
}
.firstBtn {
    margin-bottom: 5px;
}
.whyUse {
    margin-left: 5%;
}
.whyUse h4{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
.whyUse h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}
.whyUseM {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px #AACE9B solid;
}
.firstArt {
    width: 180px;
}
.firstArt p {
    color: #958888;
}